In [3]:
from bioinfokit.analys import stat

In [4]:
import pandas as pd

In [25]:
import numpy as np

In [18]:
import os

In [36]:
df = pd.read_excel('questionnaire - AnswersV1.xlsx')

In [37]:
df.columns.values

array(['UID', 'How do you get to know about it?', 'What is your gener?',
       'How old are you?', 'What is your district?',
       'What is your profession?', 'What is your monthly income?',
       'What is your highest education level?',
       'What is your ethnic group?', 'What is your marital status',
       'My phone does not support it',
       "I don't feel safe to do transactions",
       'Going to the branch is more convenient',
       'I prefer internet banking', "I don't understand the app",
       'App is slow', 'Mobile banking is for high end customers',
       "What if the internet connection is gone when I'm doing a transaction",
       'I’m not good with new technologies',
       'Bank will perform the transaction incorrectly',
       'I’m not comfirtable sharing my account details via a mobile app',
       'If my phone is stolen somebody can get my bank details'],
      dtype=object)

In [20]:
df.head()

,UID,How do you get to know about it?,What is your gener?,How old are you?,What is your district?,What is your profession?,What is your monthly income?,What is your highest education level?,What is your ethnic group?,What is your marital status,...,Going to the branch is more convenient,I prefer internet banking,I don't understand the app,App is slow,Mobile banking is for high end customers,What if the internet connection is gone when I'm doing a transaction,I’m not good with new technologies,Bank will perform the transaction incorrectly,I’m not comfirtable sharing my account details via a mobile app,If my phone is stolen somebody can get my bank details
0,0,Social Media,Female,31-40,Kandy,Private Sector,70k-100k,Graduate,Sinhala,Married,...,3,1,4,3,Disagree,Agree,Agree,Neutral,Strongly Agree,Agree
1,1,Our website,Male,31-40,Kalutara,Public Sector,70k-100k,Graduate,Sinhala,Married,...,5,2,3,3,Neutral,Strongly Agree,Neutral,Neutral,Neutral,Strongly Agree
2,2,Social Media,Male,>50,Colombo,Private Sector,50k-70k,A/L,Sinhala,Married,...,1,2,4,2,Disagree,Agree,Agree,Strongly Agree,Agree,Neutral
3,3,Our website,Female,19-30,Colombo,Private Sector,100k-150k,Graduate,Tamil,Married,...,3,1,2,3,Disagree,Strongly Agree,Agree,Neutral,Strongly Agree,Neutral
4,4,Social Media,Male,19-30,Colombo,Public Sector,50k-70k,Graduate,Sinhala,Married,...,3,1,4,2,Neutral,Agree,Agree,Neutral,Agree,Agree

In [32]:
#B : How do you get to know about it?

In [21]:
df['How do you get to know about it?'].value_counts()

Social Media    47
Our website     28
From Branch     23
Other            8
Friend           4
Name: How do you get to know about it?, dtype: int64

In [22]:
df = pd.DataFrame(df['How do you get to know about it?'].value_counts())

In [23]:
df.head()

              How do you get to know about it?
Social Media                                47
Our website                                 28
From Branch                                 23
Other                                        8
Friend                                       4

In [27]:
len(df),1/len(df)

(5, 0.2)

In [7]:
res = stat()

In [28]:
res.chisq(df=df, p=(0.2, 0.2, 0.2, 0.2, 0.2))

In [29]:
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     53.7273     4  6.00218e-11            110

In [30]:
print(res.expected_df)

              How do you get to know about it?  expected_counts
Social Media                                47             22.0
Our website                                 28             22.0
From Branch                                 23             22.0
Other                                        8             22.0
Friend                                       4             22.0

In [50]:
#C : What is your gener?
dff = pd.DataFrame(df['What is your gener?'].value_counts())
dff.head()

        What is your gener?
Female                   60
Male                     50

In [51]:
dff = pd.DataFrame(df['What is your gener?'].value_counts())
len(dff),1/len(dff)

(2, 0.5)

In [52]:
res = stat()
res.chisq(df=dff, p=(0.5, 0.5))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df    P-value    Sample size
------------  ----  ---------  -------------
    0.909091     1   0.340356            110

In [53]:
#D : 'How old are you?'
dff = pd.DataFrame(df['How old are you?'].value_counts())
dff.head()

       How old are you?
19-30                49
41-50                25
31-40                24
>50                  12

In [54]:
dff = pd.DataFrame(df['How old are you?'].value_counts())
len(dff),1/len(dff)

(4, 0.25)

In [55]:
res = stat()
res.chisq(df=dff, p=(0.25, 0.25, 0.25, 0.25))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     26.2182     3  8.58504e-06            110

In [56]:
#E What is your district?
dff = pd.DataFrame(df['What is your district?'].value_counts())
dff.head()

          What is your district?
Colombo                       60
Gampaha                       32
Kandy                          9
Kalutara                       9

In [57]:
dff = pd.DataFrame(df['What is your district?'].value_counts())
len(dff),1/len(dff)

(4, 0.25)

In [58]:
res = stat()
res.chisq(df=dff, p=(0.25, 0.25, 0.25, 0.25))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     64.0364     3  8.06239e-14            110

In [59]:
#F What is your profession?
dff = pd.DataFrame(df['What is your profession?'].value_counts())
dff.head()

                What is your profession?
Private Sector                        64
Public Sector                         31
Self-employed                         15

In [60]:
dff = pd.DataFrame(df['What is your profession?'].value_counts())
len(dff),1/len(dff)

(3, 0.3333333333333333)

In [62]:
res = stat()
res.chisq(df=dff, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     34.0545     2  4.02856e-08            110

In [63]:
#G What is your What is your monthly income??
dff = pd.DataFrame(df['What is your monthly income?'].value_counts())
dff.head()

           What is your monthly income?
50k-70k                              40
30k-50k                              23
70k-100k                             23
150k-200k                            15
100k-150k                             9

In [64]:
dff = pd.DataFrame(df['What is your monthly income?'].value_counts())
len(dff),1/len(dff)

(5, 0.2)

In [65]:
res = stat()
res.chisq(df=dff, p=(0.2, 0.2, 0.2, 0.2, 0.2))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     24.7273     4  5.70776e-05            110

In [66]:
# H What is your highest education level?
dff = pd.DataFrame(df['What is your highest education level?'].value_counts())
dff.head()

               What is your highest education level?
Graduate                                          89
A/L                                               12
Post Graduate                                      9

In [67]:
dff = pd.DataFrame(df['What is your highest education level?'].value_counts())
len(dff),1/len(dff)

(3, 0.3333333333333333)

In [68]:
res = stat()
res.chisq(df=dff, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df     P-value    Sample size
------------  ----  ----------  -------------
     112.164     2  4.4053e-25            110

In [69]:
# I What is your ethnic group?
dff = pd.DataFrame(df['What is your ethnic group?'].value_counts())
dff.head()

         What is your ethnic group?
Sinhala                         101
Tamil                             9

In [70]:
dff = pd.DataFrame(df['What is your ethnic group?'].value_counts())
len(dff),1/len(dff)

(2, 0.5)

In [71]:
res = stat()
res.chisq(df=dff, p=(0.5, 0.5))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     76.9455     1  1.75745e-18            110

In [72]:
# J What is your marital status
dff = pd.DataFrame(df['What is your marital status'].value_counts())
dff.head()

           What is your marital status
Married                             79
Unmarried                           31

In [73]:
dff = pd.DataFrame(df['What is your marital status'].value_counts())
len(dff),1/len(dff)

(2, 0.5)

In [74]:
res = stat()
res.chisq(df=dff, p=(0.5, 0.5))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     20.9455     1  4.72548e-06            110

In [75]:
# Testing about the Product

In [78]:
res.summary

'\nChi-squared goodness of fit test\n\n  Chi-Square    Df      P-value    Sample size\n------------  ----  -----------  -------------\n     20.9455     1  4.72548e-06            110\n'

In [80]:
df2 = df[['My phone does not support it',
       "I don't feel safe to do transactions",
       'Going to the branch is more convenient',
       'I prefer internet banking', "I don't understand the app",
       'App is slow']]

In [81]:
df2.head()

,My phone does not support it,I don't feel safe to do transactions,Going to the branch is more convenient,I prefer internet banking,I don't understand the app,App is slow
0,2,4,3,1,4,3
1,2,4,5,2,3,3
2,1,4,1,2,4,2
3,1,5,3,1,2,3
4,3,5,3,1,4,2

In [84]:
df2.iloc[:,0].sum()

293

In [85]:
df2dic = {
    'Attribute': df2.columns.values,
    'Values': [df2.iloc[:,0].sum(), df2.iloc[:,1].sum(), df2.iloc[:,2].sum(),df2.iloc[:,3].sum(),df2.iloc[:,4].sum(),df2.iloc[:,5].sum()] 
}

In [87]:
df2dic

{'Attribute': array(['My phone does not support it',
        "I don't feel safe to do transactions",
        'Going to the branch is more convenient',
        'I prefer internet banking', "I don't understand the app",
        'App is slow'], dtype=object),
 'Values': [293, 382, 320, 150, 397, 296]}

In [88]:
df3 = pd.DataFrame(df2dic)

In [92]:
df3.head()
df3.set_index('Attribute',inplace=True)

In [93]:
df3

                                        Values
Attribute
My phone does not support it               293
I don't feel safe to do transactions       382
Going to the branch is more convenient     320
I prefer internet banking                  150
I don't understand the app                 397
App is slow                                296

In [95]:
len(df3),1/len(df3)

(6, 0.16666666666666666)

In [97]:
res = stat()
res.chisq(df=df3, p=(0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     126.847     5  1.11067e-25           1838

In [98]:
# What do you think about mobile banking

In [99]:
dfa = df[['Mobile banking is for high end customers']]

In [105]:
dfa = pd.DataFrame(dfa.iloc[:,0].value_counts())

In [107]:
len(dfa),1/len(dfa)

(3, 0.3333333333333333)

In [110]:
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     76.8727     2  2.02908e-17            110

In [123]:
dfa = pd.DataFrame(df.iloc[:,16].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     76.8727     2  2.02908e-17            110

In [124]:
dfa = pd.DataFrame(df.iloc[:,17].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.5, 0.5))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df    P-value    Sample size
------------  ----  ---------  -------------
           0     1          1            110

In [125]:
dfa = pd.DataFrame(df.iloc[:,18].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     39.3455     2  2.85919e-09            110

In [126]:
dfa = pd.DataFrame(df.iloc[:,19].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     116.855     2  4.22044e-26            110

In [127]:
dfa = pd.DataFrame(df.iloc[:,20].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     91.8727     2  1.12225e-20            110

In [128]:
dfa = pd.DataFrame(df.iloc[:,21].value_counts())
res = stat()
res.chisq(df=dfa, p=(0.3333333333333333, 0.3333333333333333, 0.3333333333333333))
print(res.summary)

Chi-squared goodness of fit test

  Chi-Square    Df      P-value    Sample size
------------  ----  -----------  -------------
     60.0182     2  9.27294e-14            110